:global(.widget-body) {
  overflow-x: hidden;

  margin: 0;

  padding: calc(var(--ring-unit) * 2);

  background: var(--ring-content-background-color);

  font-size: var(--ring-font-size);
}

.countdownTitle {
  margin: 15px auto 5px;

  color: var(--ring-text-color);

  font-size: 15px;
}

.countdownZeroTitle {
  margin-left: 10px;

  color: var(--ring-error-color);
}

.widget {
  margin: 0;
  padding: 0;

  white-space: nowrap;

  font-family: var(--ring-font-family);
  font-size: var(--ring-font-size);
}

.countdownItem {
  display: inline-block;

  height: 60px;
}

.countdownItemValue {
  padding: 13px;

  color: var(--ring-text-color);

  border: 1px solid var(--ring-border-hover-color);

  border-radius: 10px;

  font-family: var(--ring-font-family-monospace);

  font-size: 20px;
}

@media screen and (max-width: 400px) {
  .countdownItemValue {
    padding: 10px;

    font-size: 20px;
  }

  .countdownTitle {
    margin: 15px auto 5px;

    font-size: 15px;
  }

  .countdownItem {
    height: 30px;
  }

  .progressBar {
    max-width: 100%;

    margin: 0 auto auto;
  }
}

/* stylelint-disable-next-line selector-max-specificity */
.countdownItem:not(:first-child) .countdownItemValue {
  margin-left: 20px;
}

.countdownItem .countdownItemValue {
  width: auto;
}

/* stylelint-disable-next-line selector-max-specificity */
.countdownItem:first-child .itemDescription {
  padding-left: 0;
}

.countdownItemZeroValue {
  color: var(--ring-error-color);

  border: 1px solid var(--ring-icon-error-color);
}

.itemDescription {
  padding-top: 5px;
  padding-left: 20px;

  text-align: center;

  color: var(--ring-text-color);

  font-family: var(--ring-font-family-monospace);
}

.formFooter {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
}

.progressBar {
  max-width: 100%;

  margin: 5px auto auto;
}

.countdownBlock {
  float: left;
}

.countdownBlockWrapper {
  display: flex;

  justify-content: center;

  margin: auto;
}

.mainPresentationArea {
  position: absolute;
  top: 43%;
  left: 0;

  width: 100%;

  transform: translate(0, -50%);

  text-align: center;
}

.additionalSettings {
  margin-top: 20px;
}

:global(.react-datetime-picker__button__input__input) {
  color: var(--ring-text-color) !important;
}

:global(.react-datetime-picker__calendar-button) {
  color: var(--ring-text-color) !important;
}

:global(.react-datetime-picker__button__input__divider) {
  color: var(--ring-text-color) !important;
}

:global(.react-datetime-picker__button__input) {
  color: var(--ring-text-color) !important;
}

:global(.react-datetime-picker__button) {
  height: 28px;

  border-radius: 3px;

  font-family: var(--ring-font-family);
}
